<div class="dark:bg-[#424242] mt-10 bg-white">
  <app-user-map [user]="currentUser"></app-user-map>
</div>
<div class="p-6 space-y-6 dialog-body">
  <div *ngIf="weather$ | async as weather; else loading">
    <app-current-weather
      [currentUser]="currentUser"
      [currentWeather]="weather?.current"
    ></app-current-weather>

    <div class="mt-8">
      <app-hourly-weather
        *ngFor="let hour of weather.hourly"
        [hourlyWeather]="hour"
      ></app-hourly-weather>
    </div>
  </div>
  <ng-template #loading>
    <div class="w-full">
      <div class="flex flex-col items-center py-10">
        <div class="flex flex-col flex-1 gap-5 sm:p-2">
          <div class="flex flex-1 flex-col gap-3 items-center">
            <div class="bg-gray-200 animate-pulse h-20 w-20 rounded-md"></div>
            <div class="bg-gray-200 w-full animate-pulse h-3 rounded-2xl"></div>
            <div class="bg-gray-200 w-full animate-pulse h-3 rounded-2xl"></div>
            <div class="bg-gray-200 w-full animate-pulse h-3 rounded-2xl"></div>
            <div class="bg-gray-200 w-full animate-pulse h-3 rounded-2xl"></div>
          </div>
          <div class="mt-auto flex gap-3 justify-center">
            <div class="bg-gray-200 w-20 h-8 animate-pulse rounded-full"></div>
            <div class="bg-gray-200 w-20 h-8 animate-pulse rounded-full"></div>
          </div>
        </div>
      </div>

      <div class="mt-auto flex flex-col gap-3 justify-center">
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
        <div class="bg-gray-200 w-full h-16 animate-pulse rounded-full"></div>
      </div>
    </div>
  </ng-template>
</div>
