/* You can add global styles to this file, and also import other style files */

@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.dialog-body {
  overflow: auto;
  flex: 1;
}
